SSH_KEY=
SSH_KEY_NAME=

#
# soft-serve options
#
SOFT_SERVE_DATA_PATH=/var/lib/soft-serve

#
# testclient options
#

TESTCLIENT_SSH_PRIVATE_KEY=/keys/ssh_host_rsa_key
TESTCLIENT_SSH_PUBLIC_KEY=/keys/ssh_host_rsa_key.pub
