#
# cgit options
#
CGIT_PREFIX=
CGIT_PASSWORD=password
CGIT_SSH_KEY=
CGIT_SSH_KEY_NAME=

CGIT_LFS_LISTEN=tcp://:8080
CGIT_LFS_HOST=0.0.0.0:8080
CGIT_LFS_CONTENTPATH=
CGIT_LFS_ADMINUSER=admin
CGIT_LFS_ADMINPASS=admin
CGIT_LFS_SCHEME=http

#
# gitbucket options
#
GITBUCKET_MAXFILESIZE=209715200
GITBUCKET_UPLOADTIMEOUT=600
GITBUCKET_PORT=80
GITBUCKET_BASE_URL=http://gitbucket

#
# soft-serve options
#
SOFT_SERVE_DATA_PATH=/var/lib/soft-serve

#
# testclient options
#

TESTCLIENT_SSH_PRIVATE_KEY=/keys/ssh_host_rsa_key
TESTCLIENT_SSH_PUBLIC_KEY=/keys/ssh_host_rsa_key.pub
